* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #1a1313;
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100vh;
}

.header {
  min-width: 100vw;
  min-height: 20vh;
  background-size: contain;
  background-image: url('https://res.cloudinary.com/garcila/image/upload/e_sepia:80/v1570033650/1024px-Bletchley_Park_Bombe14.jpg');
  filter: brightness(0.6) blur(1px);
  position: relative;
  margin-bottom: 3rem;
}

.titleInside {
  font-size: 1.5rem;
  position: absolute;
  padding: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
}

.header > p {
  font-size: 0.7rem;
  text-align: center;
}

#title {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 2rem;
}

.morseCodeList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1rem;
  background-color: #f3f0f0;
  border-radius: 5px;
  justify-content: space-between;
}

.morseCodeListItem {
  font-size: 2.5vw;
  margin: 0.3rem;
  padding: 0.3rem;
  background-color: #65afe0;
  border-radius: 6px;
}

.instructions {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2rem 0.3rem 2rem;
  justify-content: center;
}

.instructions > span {
  background-color: #6bbdf3;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0 0.4rem;
}

.morseToEnglish {
  display: flex;
  justify-content: space-around;
}
.morseToEnglish > label {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.morseToEnglish > label > span {
  padding: 0.3rem 2rem;
  border: 1px solid #a19f9f;
  border-radius: 5px;
  margin: 0 2rem;
}

.englishToMorseInput {
  display: flex;
  align-self: center;
  min-width: 80vw;
  padding: 0.5rem;
}

.englishToMorseRomanSpan {
  margin-right: 1rem;
}

#morse {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65afe0;
  min-height: 10vh;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons > button {
  flex: 1;
  padding: 0.5rem;
  margin: 1rem;
  background-color: coral;
  border: none;
}

.buttons > button:last-child {
  background-color: #65afe0;
}

.buttons > button:hover {
  background-color: #65afe0;
}

.buttons > button:last-child:hover {
  background-color: coral;
}

#roman {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  min-height: 10vh;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: white;
}
